/* Player Cards */
.emptyBoxGuide {
    border: 1px dotted black;
    transition: .5s all ease;
  }
  .emptyBoxGuide:hover {
    border: 1px dotted black;
    font-size: 1.2em;
  }
  #primary-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 200px;
  }
  
  #primary-cards .card {
    flex: 1;
    max-width: 300px;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  #primary-cards .card-player-name {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  #primary-cards .card-team-name {
    font-size: 1.1em;
    color: #555;
  }
  #secondary-cards {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    margin-top: 1px;
  
  }
  #secondary-cards .card {
    display:inline-block;
    margin: 1px;
    padding: 2px;
  }
  /* Add styles for stat lines */
  #primary-cards .card-stats {
    margin-top: 10px;
    font-size: 1em;
    color: #888;
    position: relative;
  }

  /* Table Styling */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }