body {
  box-sizing: border-box;
}
main {
  background-color: rgba(41, 44, 47, .8);
}
h2 {
  text-align: center;
}
.narrow {
  padding: 0px;
}
.inactive {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  transition: all .2s ease-in-out;
}
.inactive:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Player Cards */
  #primary-cards .emptyBoxGuide {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .emptyBoxGuide {
    padding: 20px;
    text-align: center;
    border: 1px dotted black;
    transition: .5s all ease-in-out;
  }
  .emptyBoxGuide:hover {
    border: 1px dotted black;
    font-size: 1.4em;
  }
  #primary-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 200px;
  }
  
  #primary-cards .card {
    flex: 1;
    max-width: 300px;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  #primary-cards .card-player-name {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  #primary-cards .card-team-name {
    font-size: 1.1em;
    color: #555;
  }
  #secondary-cards {
    display: flex;
    flex-direction: column;
    min-height: 330px;
    margin-top: 1px;
  }
  #secondary-cards .card {
    display:inline-block;
    margin: 1px;
    padding: 2px;
  }
  /* Add styles for stat lines */
  #primary-cards .card-stats {
    margin-top: 10px;
    font-size: 1em;
    color: #888;
    position: relative;
  }

  /* Table Styling */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }

  /* for dragula ui (draggable cards) */
.gu-mirror{position:fixed!important;margin:0!important;z-index:9999!important;opacity:.8}.gu-hide{display:none!important}.gu-unselectable{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.gu-transit{opacity:.2}

  /* Show tooltip on hover */
#primary-cards .card-stats:hover::before {
    opacity: 1;
  }
  .delete-button {
    float: right;
    border: 0px;
    background-color: white;
    color: rgb(184, 184, 184);
    transition: .2s all ease;
    font-size: 1.2em;
  }
  .delete-button:hover {
    color: rgb(71, 71, 71);
  }
  .promote-button {
    float: left;
    border: 0px;
    background-color: white;
    color: rgb(184, 184, 184);
    transition: .2s all ease;
    font-size: 1.2em;
  }
  .promote-button:hover {
    color: rgb(71, 71, 71);
  }

  .scrollable-content {
    max-height: 550px;
    overflow-y: auto;
}
  #asideRoster div {
    padding-left: 2px;
  }
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.minorLeagueTiny {
  font-size: 9px;
  max-width: 30px !important;
  overflow-x: hidden !important;
}


.card img {
  width: 35px;
}
#primary-cards img {
  width: 75px;
}
#secondary-cards img {
  width: 45px;
}
#asideRoster img {
  width: 35px;
}
#asideGames img {
  width: 35px;
  height: 35px;
}
.teams-center {
  text-align: center !important;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .center {
    align-items: center !important;
    justify-content: center !important;
  }
  .center-logo {
    text-align: center;
  }
}
@media (max-width: 991px) {
  table {
    font-size: 12px !important;
  }
}
@media (max-width: 768px) {
  #primary-cards {
    flex-direction: column;
  }
  #primary-cards .card {
    width: 100%;
  }
  table, th, td {
    margin-top: 1px;
    padding: 1px
  }
  aside {
    padding: 1px;
    margin: 1px;
  }

  #primary-cards img {
    width: 50px;
  }
  #secondary-cards img {
    width: 30px;
  }
  #asideRoster img {
    width: 20px;
  }
  #asideGames img {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 575.98px) {
    header img {
      width: 100%;
    }
    body, input, label, select {
      font-size: 16px !important;
    }
    #asideGames img {
      width: 25px;
      height: 25px;
    }
}