:root {
  --dark-blue: rgb(10, 10, 88)
}

body {
  box-sizing: border-box;
  margin: 5px auto;
  width: 100%
}
/* header  */
#headerCover{
  background-color: rgba(255, 255, 255,.5);
  z-index: 10;
}
header {
  display: flex;
  background-position: center;
  background-size: cover;
  width: 100%
}
.h1-div {
}
h1 {
  color: rgb(10, 10, 88);
  background-color: rgba(255, 255, 255,.5);
  padding: 3px;
  margin: 10px;
  font-size: 3em;
  font-family: "Sixtyfour";
}
#stadium-forecast {
  color: black;
  background-color: rgba(255, 255, 255,.5);
  padding: 3px;
  margin: 10px;
  font-size: .8em;
}

/* Search Box */
#searchContainer { 
  margin: 5px;
  padding: 10px;
  min-width: 140px;
}
.form-floating {
  color: black;
}
#searchContainer label { 
  color: rgb(117, 117, 117);
}
.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Player Cards */
.emptyBoxGuide {
  border: 1px dotted black;
  transition: .5s all ease;
}
.emptyBoxGuide:hover {
  border: 1px dotted black;
  font-size: 1.2em;
}
#primary-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 200px;
}

#primary-cards .card {
  flex: 1;
  max-width: 300px;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

#primary-cards .card-player-name {
  font-size: 1.2em;
  font-weight: bold;
}

#primary-cards .card-team-name {
  font-size: 1.1em;
  color: #555;
}
#secondary-cards {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  margin-top: 1px;

}
#secondary-cards .card {
  display:inline-block;
  margin: 1px;
  padding: 2px;
}
/* Add styles for stat lines */
#primary-cards .card-stats {
  margin-top: 10px;
  font-size: 1em;
  color: #888;
  position: relative;
}

/* Tooltip styles with text */
#primary-cards .card-stats::before {
  content: 'Your Tooltip Text Here'; 
  position: absolute;
  top: -30px; 
  left: 50%;
  transform: translateX(-50%);
  width: 150px; 
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

/* Show tooltip on hover */
#primary-cards .card-stats:hover::before {
  opacity: 1;
}
.delete-button {
  float: right;
  border: 0px;
  background-color: white;
  color: rgb(184, 184, 184);
  transition: .2s all ease;
  font-size: 1.2em;
}
.delete-button:hover {
  color: rgb(71, 71, 71);
}


/* Table Styling */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

/* for dragula ui (draggable cards) */
.gu-mirror{position:fixed!important;margin:0!important;z-index:9999!important;opacity:.8}.gu-hide{display:none!important}.gu-unselectable{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.gu-transit{opacity:.2}

/* Team Panel */
main {
  display: flex;
  flex-direction: row;
  width: 100%;
}
aside {
  flex-grow: 3;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
#playerSection {
  min-width: 170px;
  max-width: 30%;
  flex-grow: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: right;
  border: solid black 1px;
  padding: 10px; 
  margin: 10px;
  touch-action: none;
}
.asideSection-player {
  padding: 2px;
  padding-left: 5px;
  margin: 0px;
}

.teamSearch {
  justify-content: center;
  display: flex;
}
.teamsDropdown {
 font-size: 2em;
 text-align: center;
 padding: 2px;
 margin-bottom: 2px;
 border: 1px solid #dcdcdc;;
 border-radius: 4px;
}
.nav-item {
  background-color: #f2f2f2;
  border-radius: 4px;
}
.nav-link {
  color:rgb(10, 10, 88);
}
.schedule-game {
  padding: 1px;
  margin: 1px;
}
.team-logo-button {
  border: 0px;
  padding: 1px;
  margin: 1px;
}

.asideSection-player {
  padding: 3px;
  margin: 1px;
  display: flow;
}
.asideSection img {
  width: 20px;
}
#asideSectionX{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  #primary-cards {
      flex-direction: column;
  }

  #primary-cards .card {
      width: 100%;
  }

  table, th, td {
    margin-top: 1px;
    padding: 1px
  }
  aside {
    padding: 1px;
    margin: 1px;
  }
  .asideSection img {
    width: 20px;
  }
}

.asideSection {
  bottom: 0px;
  height: 50%;        /* TO FIX */
  overflow-y: auto;
  border: 1px solid #dcdcdc;
}
